.page-dmo {
  h4 {
    font-size: 22px;
  }
  .link-list {
    padding-left: 20px;
    li {
      list-style-type: none;
    }
    a {
      position: relative;
      display: inline-block;
      text-align: left;
      font-size: 22px;
      text-decoration: none;
      line-height: 1;
      margin-bottom: 12px;
      padding-right: 28px;
      @include magellan-line();
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  .link-download {
    background-color: rgb($color-green-rgb, 0.5);
    transition: background-color 0.3s linear;
    padding: 14px;
    &:hover {
      background-color: rgb($color-green-rgb, 0.7);
    }
    a {
      text-decoration: none;
      font-weight: 600;
      color: $white;
      font-size: 14px;
    }
  }
  .link-detail {
    a {
      text-decoration: none;
      font-size: 11px;
    }
  }
  #reading-content {
    max-width: 742px;
  }
  #content-wrap {
    .wp-block-gallery.has-nested-images.swap-images {
      position: relative;
      figure.wp-block-image {
        width: 100%;
        &:not(:first-child) {
          display: none;
          position: absolute;
        }
      }
    }
    .swap-content {
      dl {
        dt {
          cursor: pointer;
        }
      }
    }
  }
}