.page-stories {
  article {
    .title {
      font-size: 24px;
      margin: 57px 0 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $color-border-gray;
    }
    .sub-title {
      p {
        text-indent: initial;
      }
      strong {
        font-weight: normal;
        font-size: 15px;
        display: block;
        margin-top: 5px;
      }
      img {
        display: block;
        margin-bottom: 4px;
        margin-left: auto;
        margin-right: 10px;
        width: 180px;
      }
    }
  }
  #section-concept {
    .title {
      border-bottom-width: 0;
      padding-bottom: 0;
      margin-bottom: 36px;
    }
  }
  section {
    &:not(#section-concept) {
      max-width: 744px;
    }
  }
  @include breakpoint(medium) {
    #reading-content {
      .glide {
        margin-left: 55px;
      }
    }
    article {
      padding-left: 68px;
      b {
        margin-bottom: 19px;
        display: block;
      }
      .title {
        font-size: 32px;
        width: 100%;
        margin-top: 76px;
        padding-bottom: 2px;
      }
      .sub-title {
        strong {
          font-size: 17px;
          margin-top: 0;
        }
        img {
          margin: 30px auto 0 0;
        }
      }
      .cell-sub-title {
        margin-top: 12px;
        width: 260px;

      }
      .cell-content {
        font-size: 12.7px;
        margin-top: 41px;
        width: calc(100% - 260px);
      }
    }
  }
}