@use "sass:map";

@mixin breakpoint($breakpoint) {
  @media #{inspect(map.get($breakpoints, $breakpoint))} {
    @content;
  }
}
@mixin magellan-line() {
  &:before {
    content: '';
    border-bottom: 1px solid rgba(black, 0.15);
    width: 100%;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
  }
  &:after {
    content: '';
    border-bottom: 1px solid $black;
    width: 100%;
    margin-top: 5px;
    display: block;
    transform: scaleX(0);
    transform-origin: left top;
    transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
}
@mixin arrowSvg($width, $bgc) {
  content: "";
  background-color: $bgc;
  -webkit-mask: url("../images/toggle-arrow.svg");
  mask: url("../images/toggle-arrow.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: middle;
  position: absolute;
  transform: rotate(180deg);
  width: $width;
  height: calc(#{$width} / 2);
  top: calc(50% - (#{$width} / 4));
}