aside.side-nav {
  #main-menu {
    a {
      font-weight: bold;
    }
  }
  .logo {
    position: absolute;
    top: 33px;
    width: 131px;
    height: 131px;
    left: 58px;
  }
  nav {
    .active,
    a {
      display: block;
      text-align: center;
      font-size: 14px;
      padding: 10px 0;
      &.im-here {
        span {
          &:after {
            transform: scaleX(1);
          }
        }
      }
      span {
        // display: inline-block;
        // position: relative;
        // @include magellan-line();
      }
    }
    .stories {
      img {
        width: 137px;
      }
    }
    .sns-links {
      display: flex;
      margin: 8px 0 0;
      padding: 0;
      li {
        list-style-type: none;
      }
      a {
        padding: 0;
        margin-right: 20px;
      }
      img {
        height: 18px;
        width: auto;
      }
    }
    .active {
      span {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    a:hover {
      span {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    .has-dash {
      position: relative;
      &:before {
        content: "";
        width: 11px;
        height: 0;
        border-bottom: 1px solid #999;
        position: absolute;
        left: -16px;
        top: 50%;
      }
    }
    .fake-link {
      padding-top: 0;
      margin-top: 5px;
      font-size: 0;
      span {
        &:after {
          content: none;
        }
      }
    }
    .nav-inner {
      position: relative;
      a, div {
        font-size: 10px;
        padding: 6px 0;
      }
      span {
        &:before,
        &:after {
          content: none;
        }
      }
      .tag-new-wrap {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0;
        span {
          width: initial;
          &:before,
          &:after {
            content: none;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      .tag-new {
        font-size: 10px;
        color: #BE1E2D;
        margin-right: 4px;
      }
      > *:not(.tag-new-wrap) {
        margin-left: 18px;
      }
    }
  }
  @include breakpoint(small only) {
    height: 0!important;
    z-index: 110;
    background-color: rgba(white, 0.9);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: height 0.3s ease-out;
    .logo {
      display: none;
    }
    nav {
      a {
        font-size: 15px;
      }
      .nav-inner {
        margin-bottom: 15px;
        a {
          font-size: 14px;
          margin-left: 0!important;
        }
        .has-dash {
          font-weight: bold;
          span {
            position: relative;
            &:before,
            &:after {
              content: "";
              width: 11px;
              height: 0;
              border-bottom: 1px solid #999;
              position: absolute;
              left: -16px;
              top: 50%;
              margin: 0;
            }
            &:after {
              left: auto;
              right: -16px;
              transform: scaleX(1);
            }
          }
        }
        a,
        .has-dash {
          // display: none;
          font-size: 15px;
          &:before {
            content: none;
          }
        }
        .tag-new-wrap {
          justify-content: center;
          padding: 17px 0;
          .tag-new-inner {
            font-size: 15px;
            position: relative;
            &:after {
              content: "";
              width: 100%;
              height: 0;
              border-bottom: 1px solid $black;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
      .sns-links {
        justify-content: center;
      }
    }
    #main-menu {
      margin-bottom: 28px;
    }
    .side-stick {
      top: 0!important;
    }
    .fake-link {
      display: none;
    }
    &.show {
      height: 100vh!important;
      padding-top: 114px;
      padding-bottom: 43px;
    }
  }
  @include breakpoint(medium) {
    z-index: 110;
    // &.up {
    //   nav {
    //     padding-bottom: 300px;
    //   }
    // }
    .side-stick {
      position: fixed;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      z-index: 1;
      background-color: rgba(255,255,255,0.8);
    }
    nav {
      margin-top: 200px;
      overflow: auto;
      width: 100%;
      padding-left: 60px;
      padding-right: 30px;
      padding-bottom: 180px;
      transition: padding 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
      .active,
      a {
        text-align: left;
        padding: 7px 0;
        img {
          width: 132px;
        }
        span {
          width: 100%;
        }
      }
      a,
      .active {
        span {
          display: inline-block;
          position: relative;
          @include magellan-line();
        }
      }
    }
  }
}