article {
  padding-left: 38px;
  &.article-indent {
    padding-left: $section-indent-medium * 2;
  }
  p {
    line-height: 1.9;
    margin-bottom: 28px;
    &.subleading {
      margin-left: 29px;
      margin-top: -5px;
      margin-bottom: 55px;
    }
  }
  .title {
    font-size: 29px;
    margin: 48px 0 28px 2px;
    img {
      display: block;
    }
    &.title-indent {
      position: relative;
      padding: 5px 0 18px 24px;

      &:before {
        content: "";
        width: 0;
        height: 51px;
        border-left: 1px solid $color-border-gray;
        position: absolute;
        top: -5px;
        left: 0;

      }
    }
  }
  @include breakpoint(small only) {
    padding: 0 22px;
    &.article-indent {
      padding-left: 22px;
      margin-left: 0;
    }
    .title {
      margin: 58px 0 30px;
      &.title-indent {
        padding: 3px 0 3px 12px;
        &:before {
          height: 26px;
          top: 5px;
          left: 0;
        }
      }
    }
  }
}
.description {
  margin-left: 29px;
  padding-top: 23px;
  border-top: 1px solid $color-border-gray;
  margin-top: 44px;
  max-width: 863px;
  h3 {
    img {
      display: block;
      margin-bottom: 10px;
    }
  }
  small {
    float: left;
    line-height: 1.8;
  }
  p {
    line-height: 2.1;
    font-size: 11px;
    margin-left: 262px;
    margin-bottom: 11px;
    width: 416px;
    &:first-of-type {
      padding-top: 25px;
    }
  }
  a {
    margin-left: 58px;
    padding-right: 13px;
    width: 620px;
    font-size: 9px;
    position: relative;
    padding-right: 18px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      border-top: 1px solid black;
      border-right: 1px solid black;
      bottom: 7px;
    }
    &:before,
    &:after {
      width: 5px;
      height: 5px;
      top: 4px;
    }
    &:before {
      right: 2px;
    }
    &:after {
      right: 7px;
    }
    + a {
      margin-top: 9px;
    }
  }
  // .image {
  //   margin-left: 58px;
  //   img {
  //     display: block;
  //     max-width: 620px;
  //   }
  // }
  @include breakpoint(small only) {
    margin-left: -8px;
    padding-top: 18px;
    margin-top: 17px;
    h3 {
      margin-left: 8px;
      margin-bottom: 0;
      img {
        margin-bottom: 5px;
      }
    }
    small {
      font-size: 14px;
      display: block;
      float: none;
      margin-bottom: 12px;
    }
    p {
      margin-left: 14px;
      width: auto;
      &:last-of-type:not(:first-of-type) {
        margin-bottom: 0;
      }
    }
    a {
      width: auto;
      font-size: 12px;
      margin-left: 0;
      padding-right: 17px;
      &:before,
      &:after {
        width: 7px;
        height: 7px;
        top: 6px;
      }
      &:before {
        right: 2px;
      }
      &:after {
        right: 8px;
      }
    }
    .copy {
      margin-left: 8px;
    }
  }
}
.grid-x {
  // gutenbergは勝手に要素の中にDIVタグを生成するため、それを見越した対応
  > div {
    display: flex;
    flex-direction: column;
  }
  &.right {
    > div {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  @include breakpoint(medium) {
    > div {
      flex-direction: row;
    }
  }
}
@include breakpoint(small only) {
  #body-content {
    &.locked {
      overflow: hidden;
      height: 100%;
      z-index: 1000;
    }
  }
}
