/* Media Query */
$breakpoints: (
  small: screen and (min-width: 0px),
  small only: screen and (max-width: 639px),
  medium: screen and (min-width: 640px),
  large: screen and (min-width: 1024px),
  xlarge: screen and (min-width: 1200px),
) !default;

/* Colors */
$white: #FFFFFF;
$black: #231f20;
$color-sale: #BE1E2D;
$color-brand: #E6E7E8;
$color-border-gray: rgba(0,0,0,0.15);
$color-green: #006838;
$color-green-rgb: rgb(0, 105, 56);

/* Structures */
$section-indent-medium: 32px;

/* Footer */
$footer-height-mobile: 88px;
$footer-height-pc: 125px;